html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 5%;
  text-align: center;
}

.footerStyle {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-top: 2px solid gray;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
  padding: 1rem;

  color: gray;
}

.linkStyle {
  padding: 0.8rem 3rem;
  color: white;
  background-color: gray;
  border-radius: 5px;
  outline: none;
  font-size: clamp(1rem, 1.2, 1.5rem);
  max-width: 300px;
  text-align: center;
  margin: 2% auto;
  cursor: pointer;
}


.navbarStyle {
  width: 90%;
  margin: 1rem auto;

  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbarStyle p {
  font-weight: 600;
  font-size: 20px;
}

.linksInNav {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
